* {
    margin: 0;
    padding: 0;
    list-style: none
}

body {
    background-color: #ffffff;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*estilo para el header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: wrap;
}

header img {
    width: 150px;
}


header nav ul {
    display: flex;
    list-style: none;

}

header nav ul li {
    margin: 10px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    transition: 1s;
}

header nav ul li a:hover {
    color: blue;
    font-size: 35px;
}


/*estilo grid*/
section {
    font-family: Arial, Helvetica, sans-serif;
}

section div h5 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    text-align: left;
}

section div a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*estilo footer*/
footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-right: auto;
}

footer div ul li a {
    text-decoration: none;
}