* {
    margin: 0;
    padding: 0;
    list-style:none
}

body {
    background-color: #ffffff;
}

/*estilo para el header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

header img {
    width: 150px;
}


header nav ul {
    display: flex;
    list-style: none;

}

header nav ul li {
    margin: 10px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    transition: 1s;
}
header nav ul li a:hover{
    color: blue;
    font-size: 35px;
}


/*estilo grid*/
section{
    font-family: Arial, Helvetica, sans-serif;    
}
section div h5{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    text-align: left;
}
section div a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.grid-conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    flex-wrap: wrap;

}
/*estilo footer*/
footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    padding: 40px;
    text-decoration: none;
}
footer div ul li a{
    text-decoration: none;
}